@using ChocolateUI.Services
@using Models.Category
@inject IFetchService FetchService;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ChocolateUI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Каталог
            </NavLink>

            @if (_categories != null)
            {
                <ul class="p-1">
                    @foreach (var category in _categories)
                    {
                        <li >
                            <NavLink class="nav-link" href="@($"/Category/{category.Id.ToString()}")" Match="NavLinkMatch.Prefix">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="#AB7C94" d="M12 18a6 6 0 1 0 0-12 6 6 0 0 0 0 12Z"></path></svg>
                                @category?.Name
                            </NavLink>
                        </li>
                    }
                </ul>
            }
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Login">
                <span class="oi oi-account-login" aria-hidden="true"></span> Login
            </NavLink>


        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/SignUp">
                <span class="oi oi-eject" aria-hidden="true"></span> Создать пользователя
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private ICollection<CategoryDTO> _categories;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        _categories = await FetchService.GetCategories();
    }

}