<div class="product-modal-wrapper">
  <div class="left-part">
    <swiper-container
      #mainSwiper>
    </swiper-container>

    <div class="thumbnail-swiper-container">
      <swiper-container
        #thumbnailSwiper>
      </swiper-container>
    </div>

    <!--    <div class="thumbnail-swiper">-->
    <!--      <swiper-container #thumbnailSwiper-->
    <!--                        slides-per-view="5"-->
    <!--                        speed="500"-->
    <!--                        loop="false"-->
    <!--      >-->
    <!--      </swiper-container>-->
    <!--    </div>-->
  </div>
  <div class="right-part">
    <p>Имя продукта: {{ product.name }}</p>
    <p>******</p>
    <p>{{ product.priceRub }} р.</p>
  </div>

  <button type="button" class="btn-close close-button" aria-label="Close" (click)="Close()"></button>
</div>

