<div #categoriesContainer class="container">
  <p class="category-header">Категории товаров которые вы можете заказать</p>
  <ngx-slick-carousel class="carousel"
                      #categoriesCarousel
                      [config]="slideConfig"
                      (init)="slickInit($event)"
                      (breakpoint)="breakpoint($event)"
                      (afterChange)="afterChange($event)"
                      (beforeChange)="beforeChange($event)">
    @for (category of categories | async; track category.id) {
      <app-category-card ngxSlickItem class="slide" [category]="category" >
      </app-category-card>
    }
  </ngx-slick-carousel>

<!--  @for (category of categories | async; track category.id) {-->
<!--    <app-products-carousel [category]="category" [containerWidth]="categoriesContainer.offsetWidth"  ></app-products-carousel>-->
<!--  }-->
</div>
