<div class="app-modal" (click)="onClickOutside($event)" #wrapper>
  <div class="app-modal-body" #modalBody
       [style.width.px]="this.width"
       [style.height.vh]="this.height"
       [style.margin-top.px]="(wrapper.offsetHeight - wrapper.offsetHeight*this.height/100) / 2"
       [style.margin-bottom.px]="(wrapper.offsetHeight - wrapper.offsetHeight*this.height/100) / 2"
       [style.margin-left.px]="(wrapper.offsetWidth - this.width) / 2"
       [style.margin-right.px]="(wrapper.offsetWidth - this.width) / 2"
  >
    <ng-content></ng-content>
  </div>
</div>
<div class="app-modal-background" (click)="onClickOutside($event)"></div>
