@page "/"
@using Models

@inherits CategoryBase

@if (Categories is null)
{
    <h3>Loading products...</h3>
}
else
{
    <h3 class="mb-5">Products</h3>

    var categoryCount = Categories.Count();

    if (categoryCount > 0)
    {
        const int itemsPerRow = 4;

        for (int i = 0; i < Categories.Count(); i++)
        {
            List<CategoryDTO> categoriesRowList = Categories.Skip(i * itemsPerRow).Take(itemsPerRow).ToList();

            <div class="row mt-3">
                <DisplayCategories Categories="@categoriesRowList"></DisplayCategories>
            </div>
        }
    }
}