<!-- контейнер для категорий слева и продуктов справа -->
<div class="container main-container">
  <div class="categories-section">
    <!-- Categories loading spinner -->
    @if (isLoadingCategories) {
      <div class="categories-spinner-container">
        <div class="spinner-border text-primary" role="status"></div>
      </div>
    } @else {
      <app-categories-list [categories$]="categories$" [currentCategory]="currentCategory" (chosenCategory)="currentCategoryChanged($event)">
      </app-categories-list>
    }
  </div>
  <div class="products-section">
    <p class="d-block mb-2">Продукты категории <span class="products-section__header">{{ currentCategory.name }}</span></p>

    <!-- Products loading spinner -->
    @if (isLoadingProducts) {
      <div class="spinner-container">
        <div class="spinner-border text-primary" role="status"></div>
      </div>
    } @else {
      <!-- Products grid -->
      <div class="products-grid">
        @for (product of products$ | async; track product.id) {
          <app-product-card [product]="product" (pickedProduct)="pickedProductChanged($event)">
          </app-product-card>
        }
      </div>
    }
  </div>
</div>

<app-modal id="product-modal" [closeOnClickOutside]="false" [width]="904" [height]="90">
  <app-product-modal [product]="pickedProduct" [closeFunction]="closeProductModal">
  </app-product-modal>
</app-modal>

