
.main-container
{
  //background-color: #0dcaf0;
  display: flex;
  flex-direction: row;
}

.spinner-container {
  min-height: 500px;
  font-size: 1.2rem;
  color: #6c757d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
  .spinner-border {
    width: 10rem;
    height: 10rem;
    border-width: 1em;
  }
}

.categories-spinner-container {
  min-height: 500px;
  font-size: 1.2rem;
  color: #6c757d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  .spinner-border {
    width: 10rem;
    height: 10rem;
    border-width: 1em;
  }
}