@page "/"
@using Models

@inherits ProductsBase

@if (Products is null)
{
    <h3>Loading products...</h3>
}
else
{
    <h3 class="mb-5">Products</h3>

    var productCount = Products.Count();

    if (productCount > 0)
    {
        const int itemsPerRow = 4;

        for (int i = 0; i < productCount; i++)
        {
            List<ProductDTO> productRowList = Products.Skip(i * itemsPerRow).Take(itemsPerRow).ToList();

            <div class="row mt-3">
                @foreach (var item in productRowList)
                {
                    <div class="col-3">
                        <a href="#">
                            <div class="card">
                                <img class="img-thumbnail" src="https://localhost:7213/image/@item.MainPhotoId"/>
                                <div class="card-body">
                                    <h5 class="card-title mb-3">
                                        @item.Description
                                    </h5>
                                    <p class="card-text">
                                        <b>@item.PriceRub.ToString("C")</b>
                                    </p>
                                </div>

                            </div>
                        </a>
                    </div>
                }

            </div>
        }
    }
}