

<div class="product-card" (click)="pickProduct()">
  <div class="category-photo">
    <img ngSrc="{{imageUrl}}" alt="ProductMainPhoto" fill />
  </div>
  <div class="desc">
    <div class="name">
      {{ this.product.name }}
    </div>
    <div class="info">
      <div class="cost">
        {{ this.product.priceRub }} р.
      </div>
    </div>
  </div>
</div>


<!--<div class="card" style="">-->
<!--  <img ngSrc="{{imageUrl}}" width="400" height="400" priority class="card-img-top" alt="...">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">{{category.name}}</h5>-->
<!--    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--  </div>-->
<!--</div>-->
