<div class="container-fluid">
  <nav class="navbar navbar-dark navbar-expand-lg bg-dark sticky-top">
    <a class="navbar-brand" href="#">
      <img alt="logo" ngSrc="./assets/logo.png" height="140" width="140"/>
    </a>

    <div class="d-flex flex-row justify-content-evenly w-75">
      <input type="text" class="form-control w-50 me-2" placeholder="{{'поиск' | translate}}" aria-label="Search">

      <select class="form-select w-25" (change)="onLanguageChange($event)">
        <option value="ru">Русский</option>
        <option value="en">English</option>
      </select>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="Categories" routerLinkActive="active">Категории</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="Category" routerLinkActive="active">Товары
            категории "{{ (category$ | async)?.name }}"</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
