<div class="container-fluid">
  <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <a class="navbar-brand" href="#">
      <img alt="logo" ngSrc="./assets/logo.png" priority height="140" width="140"/>
    </a>

    <div class="d-flex flex-row justify-content-evenly w-75">
      <input type="text" class="form-control w-50 me-2" placeholder="{{'поиск' | translate}}" aria-label="Search">

      <select class="form-select w-25" (change)="onLanguageChange($event)">
        <option value="ru">Русский</option>
        <option value="en">English</option>
      </select>
    </div>

    <div class="login-wrapper" (click)="onLoginClick()">
      <img ngSrc="./assets/Icons/login.svg" alt="login" width="24" height="24"/>
      <span class="login-text">Войти</span>
    </div>

    <app-modal #loginModal>
      <div>
        <p>Тут могла бы быть форма для входа на сайт</p>
      </div>
    </app-modal>
  </nav>
</div>
