<div class="container-fluid">
  <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <a class="navbar-brand" href="#">
      <img alt="logo" ngSrc="./assets/logo.png" priority height="140" width="140"/>
    </a>

    <div class="d-flex flex-row justify-content-evenly w-75">
      <input type="text" class="form-control w-50 me-2" placeholder="{{'поиск' | translate}}" aria-label="Search">

      <select class="form-select w-25" (change)="onLanguageChange($event)">
        <option value="ru">Русский</option>
        <option value="en">English</option>
      </select>
    </div>

    <div class="login-wrapper" (click)="onLoginClick()">
      <img ngSrc="./assets/Icons/login.svg" alt="login" width="24" height="24"/>
      <span class="login-text">Войти</span>
    </div>

    <app-modal [id]="'loginModal'" #loginModal [width]="500" [height]="50" >
      <app-login-form></app-login-form>
    </app-modal>

    <app-modal [id]="'signupModal'" #signupModal [width]="500" [height]="70" >
      <app-signup-form></app-signup-form>
    </app-modal>
  </nav>
</div>
