<div class="product-card">

  <div class="product-card--images">
    <a href="/Product/{{this.product.id}}">
      <img class="product-card--main-image" ngSrc="{{imageUrl}}" width="400" height="400" alt="ProductMainPhoto"/>
    </a>

  <!--    todo: тут нужно добавить коллаж картинок продукта (под главным изображением)-->
  </div>

  <!--  Описание продукта -->
<!--  <div class="product-card&#45;&#45;description">-->
<!--    <h1 class="fw-bold">{{ this.product.name }}</h1>-->
<!--    <p>{{ product.description }}</p>-->
<!--  </div>-->

  <!--  Зона для кнопки "в корзину" цены и т.д. -->
<!--  <div class="product-card&#45;&#45;price">-->
<!--    <p>{{product.priceRub}} р.</p>-->
<!--    <button class="btn btn-success">В корзину</button>-->
<!--  </div>-->

</div>

