#collapse-button.toggled img {
  transition: 0.25s ease-out;
  transform: rotate(0);
}

#collapse-button img {
  transition: 0.25s ease-out;
  transform: rotate(180deg);
}

.product-photo {
  width: fit-content;
  position: relative;

  img {
    display: block;
  }

  button {
    z-index: 10;
  }
}