

<a (click)="OnCategoryClick()" class="category-card">
  <div class="category-photo">
    <img class="" [style.width.px]="CategoryConstants.CardWidth-10" src="{{imageUrl}}" alt="ProductMainPhoto" />
  </div>
  <div class="desc">
    <h5 class="name">
      {{ this.category.name }}
    </h5>
  </div>
</a>


<!--<div class="card" style="">-->
<!--  <img ngSrc="{{imageUrl}}" width="400" height="400" priority class="card-img-top" alt="...">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">{{category.name}}</h5>-->
<!--    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--    <a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--  </div>-->
<!--</div>-->
